form.cle(method="post", action="{{ post.url }}")
	.password_block
		p
			| 这是一篇受密码保护的文章，请输入
			if post.metadata.question
				| 保密问题的答案
			else
				| 密码
			| 以继续查看。

		label(for="password")
			{{ post.metadata.question or "密码：" }}
		input#password(name="password")
